*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Gupter", serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__left__title{
    color: #A435F0;
}

.navbar__center{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__center input{
    border: none;
    width: 60%;
    font-size: 16px;
    background-color: transparent;
}

.navbar__center input:focus{
    outline: none;
}

.navbar__right{
    padding: 15px;
    font-size: 16px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.navbar__bars{
    display: none;
}
/* mylearning popup */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;   
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid black 1px;
    cursor: pointer;
}

button{
    background-color: #A435F0;
    color: white;
    margin:10px 30px 10px 30px;
    padding: 10px;
    border: 30px;
    border-radius: 30px;
    justify-content: space-around;
    cursor: pointer;
    border: solid purple 1px;
}

button:hover{
    background-color: transparent;
    transition: 1s;
    background-color: transparent;
    color: red;
    border: solid purple 1px;
}

.carousel{
    position: relative;
}

.carousel__1{
    width: 50px;
    position: absolute;
    top: 130px;
    left: 250px;
}

.carousel__2{
    width: 50px;
    position: absolute;
    top: 130px;
    right: 250px;
} 

.carousel__text{
    padding-top: 60px;
    text-align: center;
}


.sale-image{
    position: relative;
}

.sale-image__offer{
    background-color: white;
    color: black;
    border: solid 1px;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    top: 150px;
    left: 100px;
    animation-name: zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;  
    /* animation fill mode defines that it works based on last animation */
    opacity: 0;
}

@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.sale-image img{
    width: 100%;
}


.course{
    padding: 10px;
}

.course__container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course__list{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
    /* the width percentae refers to size of the parent class to quarter of the child class */
}

.course__list img{
    height: 50%;
    width: 200px;
}

.topics__container p{
    margin: 10px;
    border: solid black 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.topics__container{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular{
    padding: 10px;
}

.popular__container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    margin: 10px;
}

.footer__one p{
    margin-top: 10px;
}
.footer__two{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:700px) {
    body{
        font-size: 12px;
    }


}

@media screen and (max-width:600px) {
    .course__list{
        flex-basis: 40%;
    }

    button{
        display: none;
    }

    .navbar__center ,.navbar__right{
        display: none;
    }

    .navbar__bars{
        display: block;
    }

    .sale-image{
        position: relative;
    }
    
    .sale-image__offer{
        background-color: white;
        color: black;
        width: 180px;
        border: solid 1px;
        margin-left: 20px;
        padding: 10px;
        position: absolute;
        top: 10px;
        left: 0;
    }
}